
  <div class="title content">
    <h1>{{ accao }}</h1>
  </div>



  <form [formGroup]="formItem" (ngSubmit)="onSubmit" class="form-container">

  <!-- SELECT HOTEL/RESTAURANTE/CARDAPIO-->
  <div class="container container-contacto" fxLayout.lt-md="column" fxLayoutGap.lt-md="5px" fxLayout="row" fxLayoutAlign="space-evenly stretch"   fxLayoutGap="10px"  >

    <div class="item-contacto item" fxLayout="column"  fxLayoutAlign="start center"  fxFlex >

      <!-- SELECT HOTEL-->
      <mat-form-field appearance="fill">
        <mat-label>Hotel</mat-label>
        <mat-select formControlName="hotel" required [disabled]="disableHoteis">
          <mat-option>None</mat-option>
          <mat-option *ngFor="let itemhotel of hoteis" [value]="itemhotel.id">
            {{itemhotel.nome}}
          </mat-option>
        </mat-select>

        <mat-error *ngIf="getHotel.errors?.required">
          <span>Seleciona um hotel</span>
        </mat-error>

      </mat-form-field>

    </div>

    <div  class="item-contacto item" fxLayout="column" fxLayoutAlign="start center" fxFlex >

      <mat-form-field appearance="fill">
        <mat-label>Tipo de Item</mat-label>
        <mat-select formControlName="tipoItem" required [disabled]="disableTipoItems">
          <mat-option>None</mat-option>
          <mat-option *ngFor="let _tipoItem of tipoItems" [value]="_tipoItem.id">
            {{_tipoItem.nome}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="getTipoItem.errors?.required">
          <span>Seleciona um Tipo Item</span>
        </mat-error>
      </mat-form-field>

    </div>



  </div>


  <!-- NOME PT/NOME ING/NOME FR-->
  <div class="container container-contacto" fxLayout.lt-md="column" fxLayoutGap.lt-md="5px" fxLayout="row" fxLayoutAlign="space-evenly stretch"   fxLayoutGap="10px"  >

    <div class="item-contacto item" fxLayout="column"  fxLayoutAlign="start center"  fxFlex  >

      <mat-form-field appearance="fill">
        <mat-label>Nome PT</mat-label>
        <input matInput formControlName="nomePt" required>
        <mat-error *ngIf="getNomePt.errors?.required">Seleciona um nome PT</mat-error>
      </mat-form-field>

    </div>

    <div  class="item-contacto item" fxLayout="column" fxLayoutAlign="start center" fxFlex >

      <mat-form-field appearance="fill">
        <mat-label>Nome ING</mat-label>
        <input matInput formControlName="nomeIng" required>
        <mat-error *ngIf="getNomeIng.errors?.required">Seleciona um nome ING</mat-error>
      </mat-form-field>

    </div>

    <div  class="item-contacto item" fxLayout="column" fxLayoutAlign="start center" fxFlex >

      <mat-form-field appearance="fill">
        <mat-label>Nome FR</mat-label>
        <input matInput formControlName="nomeFr" required>
        <mat-error *ngIf="getNomeFr.errors?.required">Seleciona um nome FR</mat-error>
      </mat-form-field>

    </div>

  </div>

  <!-- COMPOSICAO PT/COMPOSICAO ING/COMPOSICAO FR-->
  <div class="container container-contacto" fxLayout.lt-md="column" fxLayoutGap.lt-md="5px" fxLayout="row" fxLayoutAlign="space-evenly stretch"   fxLayoutGap="10px"  >

    <div class="item-contacto item" fxLayout="column"  fxLayoutAlign="start center"  fxFlex  >

      <mat-form-field appearance="fill">
        <mat-label>Descrição PT</mat-label>
        <textarea matInput rows="5" placeholder="..." formControlName="descPt"></textarea>
        <mat-error *ngIf="getDescPt.errors?.required">Seleciona um nome PT</mat-error>
      </mat-form-field>

    </div>

    <div  class="item-contacto item" fxLayout="column" fxLayoutAlign="start center" fxFlex >

      <mat-form-field appearance="fill">
        <mat-label>Descrição ING</mat-label>
        <textarea matInput rows="5" placeholder="..." formControlName="descIng"></textarea>
        <mat-error *ngIf="getDescIng.errors?.required">Seleciona um nome ING</mat-error>
      </mat-form-field>

    </div>

    <div  class="item-contacto item" fxLayout="column" fxLayoutAlign="start center" fxFlex >

      <mat-form-field appearance="fill">
        <mat-label>Descrição FR</mat-label>
        <textarea matInput rows="5" placeholder="..." formControlName="descFr"></textarea>
        <mat-error *ngIf="getDescFr.errors?.required">Seleciona um nome FR</mat-error>
      </mat-form-field>

    </div>

  </div>



  <!-- QUANTIDADE/UNIDADE -->
  <div class="container container-contacto" fxLayout.lt-md="column" fxLayoutGap.lt-md="5px" fxLayout="row" fxLayoutAlign="space-evenly stretch"   fxLayoutGap="10px"  >

    <div  class="item-contacto item" fxLayout="column" fxLayoutAlign="start center" fxFlex >

      <mat-form-field appearance="fill">
        <mat-label>Quantidade</mat-label>
        <input matInput formControlName="quantidade" required>
        <mat-error *ngIf="getQuantidade.errors?.required">Seleciona uma Quantidade</mat-error>
      </mat-form-field>

    </div>

    <div  class="item-contacto item" fxLayout="column" fxLayoutAlign="start center" fxFlex >

      <mat-form-field appearance="fill">
        <mat-label>Unidade</mat-label>
        <mat-select formControlName="unidadeMedidaEnum">
          <mat-option>None</mat-option>

          <mat-option *ngFor="let _tipoEnumUnidade of eUnidadesMedida  | keyvalue" [value]="_tipoEnumUnidade.value">
            {{_tipoEnumUnidade.value}}
          </mat-option>

        </mat-select>
        <mat-error *ngIf="getUnidadeMedidaEnum.errors?.required">
          <span>Seleciona um unidadeMedidaEnum</span>
        </mat-error>

      </mat-form-field>

    </div>

  </div>

  <!-- PREÇO/ATIVO -->
  <div class="container container-contacto" fxLayout.lt-md="column" fxLayoutGap.lt-md="5px" fxLayout="row" fxLayoutAlign="space-evenly stretch"   fxLayoutGap="10px"  >

    <div  class="item-contacto item" fxLayout="column" fxLayoutAlign="start center" fxFlex >

      <mat-form-field appearance="fill" floatLabel="always" >
        <mat-label>Preço</mat-label>
        <input matInput  type="number" class="example-right-align" placeholder="0" step="0.01" formControlName="preco" required>
        <span matSuffix >$&nbsp;</span>
        <mat-error *ngIf="getPreco.errors?.required">Seleciona Preço</mat-error>
      </mat-form-field>

    </div>

    <div  fxLayout="column" fxLayoutAlign="start end" fxFlex >
      <div flex>
        <mat-checkbox formControlName="activo" >Ativar</mat-checkbox >
      </div>
    </div>

  </div>


  <!-- Menu -->
  <div class="container container-menu"
      fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="10px grid"

      fxLayoutGap.sm="5px grid"

      fxLayout.lt-sm="column"
      fxLayoutAlign.lt-sm="start"
      fxLayoutGap.lt-sm="0px"
  >

  <mat-card-actions class="buttons">


    <button (click)="onSubmit()" mat-raised-button color="primary" [disabled]="!formItem.valid || !formItem.dirty">{{ accao }}</button>
    <button mat-raised-button type="button" routerLink="../listar" *ngIf="accao == 'Criar'">Cancelar</button>
        <button mat-raised-button type="button" routerLink="../../listar" *ngIf="accao == 'Editar'">Cancelar</button>

  </mat-card-actions>


  </div>



  <div class="jumbotron">
    <p>
      Form Status: {{ formItem.status }}
    </p>
  </div>

  <div class="jumbotron">
    <p>
      Form Value: {{ formItem.value | json }}
    </p>
  </div>


</form>







