
  <div class="title content">
    <h1>{{ accao }}</h1>
  </div>

  <form [formGroup]="formItem" (ngSubmit)="onSubmit">

      <div fxLayout="column" fxLayoutAlign="start stretch" >

      <!-- SELECT HOTEL/TIPO ITEM-->
      <div  fxLayout.lt-md="column" fxLayoutGap.lt-md="5px" fxLayout="row" fxLayoutAlign="start stretch"   fxLayoutGap="10px"  >

        <div class="item-contacto item" fxLayout="column"  fxLayoutAlign="start stretch"  fxFlex >

          <!-- SELECT HOTEL-->
          <mat-form-field appearance="outline">
            <mat-label>Hotel</mat-label>
            <mat-select formControlName="hotel" required >
              <mat-option>None</mat-option>
              <mat-option *ngFor="let itemhotel of hoteis" [value]="itemhotel.id">
                {{itemhotel.nome}}
              </mat-option>
            </mat-select>

            <mat-error *ngIf="getHotel.errors?.required">
              <span>Seleciona Hotel</span>
            </mat-error>

          </mat-form-field>

        </div>

        <!-- SELECT TIPO ITEM-->
        <div  class="item-contacto item" fxLayout="column" fxLayoutAlign="start stretch" fxFlex >

          <mat-form-field appearance="outline">
            <mat-label>Tipo de Item</mat-label>
            <mat-select formControlName="tipoItem" required >
              <mat-option>None</mat-option>
              <mat-option *ngFor="let _tipoItem of tipoItens" [value]="_tipoItem.id">
                {{_tipoItem.nome}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="getTipoItem.errors?.required">
              <span>Seleciona Tipo Item</span>
            </mat-error>
          </mat-form-field>

        </div>

      </div>


      <!-- NOME PT/NOME ING/NOME FR-->
      <div class="container container-contacto" fxLayout.lt-md="column" fxLayoutGap.lt-md="5px" fxLayout="row" fxLayoutAlign="space-evenly stretch"   fxLayoutGap="10px"  >

        <!-- NOME PT -->
        <div class="item-contacto item" fxLayout="column"  fxLayoutAlign="start stretch"  fxFlex  >

          <mat-form-field appearance="outline">
            <mat-label>Nome PT</mat-label>
            <input matInput formControlName="nomePt" required>
            <mat-error *ngIf="getNomePt.errors?.required">Introduz nome PT</mat-error>
          </mat-form-field>

        </div>

        <!-- NOME ING -->
        <div  class="item-contacto item" fxLayout="column" fxLayoutAlign="start stretch" fxFlex >

          <mat-form-field appearance="outline">
            <mat-label>Nome ING</mat-label>
            <input matInput formControlName="nomeIng" required>
            <mat-error *ngIf="getNomeIng.errors?.required">Introduz nome ING</mat-error>
          </mat-form-field>

        </div>

        <!-- NOME FR -->
        <div  class="item-contacto item" fxLayout="column" fxLayoutAlign="start stretch" fxFlex >

          <mat-form-field appearance="outline">
            <mat-label>Nome FR</mat-label>
            <input matInput formControlName="nomeFr" required>
            <mat-error *ngIf="getNomeFr.errors?.required">Introduz nome FR</mat-error>
          </mat-form-field>

        </div>

      </div>

      <!-- COMPOSICAO PT/COMPOSICAO ING/COMPOSICAO FR-->
      <div class="container container-contacto" fxLayout.lt-md="column" fxLayoutGap.lt-md="5px" fxLayout="row" fxLayoutAlign="start stretch"   fxLayoutGap="10px"  >

        <!-- COMPOSICAO PT -->
        <div class="item-contacto item" fxLayout="column"  fxLayoutAlign="start stretch"  fxFlex  >

          <mat-form-field appearance="outline">
            <mat-label>Descrição PT</mat-label>
            <textarea matInput rows="5" placeholder="..." formControlName="descPt"></textarea>
            <mat-error *ngIf="getDescPt.errors?.required">Introduz descrição PT</mat-error>
          </mat-form-field>

        </div>

        <!-- COMPOSICAO ING -->
        <div  class="item-contacto item" fxLayout="column" fxLayoutAlign="start stretch" fxFlex >

          <mat-form-field appearance="outline">
            <mat-label>Descrição ING</mat-label>
            <textarea matInput rows="5" placeholder="..." formControlName="descIng"></textarea>
            <mat-error *ngIf="getDescIng.errors?.required">Introduz descrição ING</mat-error>
          </mat-form-field>

        </div>

        <!-- COMPOSICAO FR -->
        <div  class="item-contacto item" fxLayout="column" fxLayoutAlign="start stretch" fxFlex >

          <mat-form-field appearance="outline">
            <mat-label>Descrição FR</mat-label>
            <textarea matInput rows="5" placeholder="..." formControlName="descFr"></textarea>
            <mat-error *ngIf="getDescFr.errors?.required">Introduz descrição FR</mat-error>
          </mat-form-field>

        </div>

      </div>



      <!-- QUANTIDADE/UNIDADE/PREÇO/ -->
      <div  fxLayout.lt-md="column" fxLayoutGap.lt-md="5px" fxLayout="row" fxLayoutAlign="start stretch"   fxLayoutGap="10px"  >

        <!-- QUANTIDADE -->
        <div  fxLayout="column" fxLayoutAlign="start stretch" fxFlex="none" fxFlex.lt-md >

          <mat-form-field appearance="outline">
            <mat-label>Quantidade</mat-label>
            <input matInput formControlName="quantidade" required>
            <mat-error *ngIf="getQuantidade.errors?.required">Introduz Quantidade</mat-error>
          </mat-form-field>

        </div>

        <!-- UNIDADE -->
        <div   fxLayout="column" fxLayoutAlign="start stretch" fxFlex="none" fxFlex.lt-md>

          <mat-form-field appearance="outline">
            <mat-label>Unidade</mat-label>
            <mat-select formControlName="unidadeMedidaEnum">
              <mat-option>None</mat-option>

              <mat-option *ngFor="let _tipoEnumUnidade of eUnidadesMedida  | keyvalue" [value]="_tipoEnumUnidade.key">
                {{_tipoEnumUnidade.value}}
              </mat-option>

            </mat-select>
            <mat-error *ngIf="getUnidadeMedidaEnum.errors?.required">
              <span>Seleciona Unidade Medida</span>
            </mat-error>

          </mat-form-field>

        </div>

        <!-- PREÇO -->
        <div  fxLayout="column" fxLayoutAlign="start stretch" fxFlex="none" fxFlex.lt-md>

          <mat-form-field appearance="outline" floatLabel="always" >
            <mat-label>Preço</mat-label>
            <input matInput  type="number" class="example-right-align" placeholder="0" step="0.01" formControlName="preco" required>
            <span matSuffix >$&nbsp;</span>
            <mat-error *ngIf="getPreco.errors?.required">Introduz Preço</mat-error>
          </mat-form-field>

        </div>

      </div>

      <!-- ATIVO -->
      <div class="container container-contacto" fxLayout.lt-md="column" fxLayoutGap.lt-md="5px" fxLayout="row" fxLayoutAlign="start  stretch"   fxLayoutGap="10px"  >

        <div  fxLayoutAlign="start start" fxFlex="none" >
            <mat-checkbox formControlName="activo" >Ativar</mat-checkbox >
        </div>

      </div>


      <!-- BOTÃO -->
      <div
          fxLayout="row " fxLayoutAlign="start center" fxLayoutGap="10px grid"

          fxLayoutGap.sm="5px grid"

          fxLayout.lt-sm="column"
          fxLayoutAlign.lt-sm="start"
          fxLayoutGap.lt-sm="0px"
      >

        <div  fxLayoutAlign="start start" fxFlex="none" >

          <mat-card-actions class="buttons">

            <button (click)="onSubmit()" mat-raised-button color="primary" [disabled]="!formItem.valid">{{ accao }}</button>
            <button mat-raised-button type="button" routerLink="../listar" *ngIf="accao == 'Criar'">Cancelar</button>
            <button mat-raised-button type="button" routerLink="../../listar" *ngIf="accao == 'Editar'">Cancelar</button>



          </mat-card-actions>

        </div>

      </div>


</div>
</form>

<div class="jumbotron">
  <p>
    <button mat-raised-button (click)="yesNoDialog()">yesNoDialog</button>
    <button mat-raised-button (click)="yesNoDialog2()">yesNoDialog2</button>
    <button mat-raised-button (click)="confirmCancelDialog()">confirmCancelDialog</button>
    <button mat-raised-button (click)="yesNoSure()">yesNoSure</button>

    <button mat-raised-button (click)="alertDialog()">alertDialog</button>
    <button mat-raised-button (click)="alertDialog2()">alertDialog2</button>



  </p>
</div>



  <div class="jumbotron">
    <p>
      Form Status: {{ formItem.status }}
    </p>
  </div>

  <div class="jumbotron">
    <p>
      Form Value: {{ formItem.value | json }}
    </p>
  </div>









