
<div class="content">

<form [formGroup]="formConjunto" (ngSubmit)="onSubmit()" class="form-container">
  <mat-card>

    <mat-card-header class="title">
      <mat-card-title >Criar</mat-card-title>
    </mat-card-header>

    <mat-card-content>

      <div>
        <div class="col-md-6">
          <mat-form-field class="form-element" >
            <input formControlName="nome" matInput  placeholder="Nome Grupo">
            <mat-error *ngIf="getNome.invalid && (getNome.dirty || getNome.touched)">
              <span *ngIf="getNome.errors.required">Nome is required.</span>
              <span *ngIf="getNome.errors.minlength">Nome must be at least 3 characters long.</span>
              <span *ngIf="getNome.errors.maxlength">Nome must be at least 10 characters long.</span>
              <span *ngIf="getNome.errors.forbiddenName">Nome cannot be Bob..</span>
            </mat-error>





          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field class="form-element">
            <input formControlName="fotoPath" matInput  placeholder="Path Foto">
            <mat-error *ngIf="getFotoPath.invalid && (getFotoPath.dirty || getFotoPath.touched)">
              <span *ngIf="getFotoPath.errors.required">FotoPath is required.</span>
              <span *ngIf="getFotoPath.errors.minlength">FotoPath must be at least 3 characters long.</span>
              <span *ngIf="getFotoPath.errors.maxlength">FotoPath must be at least 10 characters long.</span>
              <span *ngIf="getFotoPath.errors.forbiddenName">FotoPath cannot be Bob..</span>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <mat-form-field appearance="fill" >
            <mat-label>Pai</mat-label>
            <mat-select formControlName="pai_id">
              <mat-option value="1">Primary</mat-option>
              <mat-option value="2">Accent</mat-option>
              <mat-option value="3">Warn</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-sm-6">
          <mat-form-field appearance="fill" >
            <mat-label>Tipo Conjunto</mat-label>
            <mat-select formControlName="tipoConjunto_id">
              <mat-option value="1">Primary</mat-option>
              <mat-option value="2">Accent</mat-option>
              <mat-option value="3">Warn</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>


      <div class="row">
        <div class="col-sm-6">

          <mat-form-field appearance="fill">
            <mat-label>Ordem</mat-label>
            <input matInput type="number" placeholder="Ex. 12" formcontrolname="fontSizeControl" min="10">
            <span matSuffix>px</span>

          </mat-form-field>


        </div>


      </div>






      <div class="row">
        <div class="col-sm-6">
          <mat-form-field class="full-width">
            <textarea formControlName="descPt" matInput placeholder="Descrição PT"></textarea>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <mat-form-field class="full-width">
            <textarea formControlName="descIng" matInput placeholder="Descrição ING"></textarea>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <mat-form-field class="full-width">
            <textarea formControlName="descFr" matInput placeholder="Descrição FR"></textarea>
          </mat-form-field>
        </div>
      </div>


    <div class="row">
      <div class="col-md-12">
        <p><mat-checkbox formControlName="activo">Ativo</mat-checkbox></p>
      </div>


    </div>









    </mat-card-content>
    <mat-card-actions>
      <button (click)="onSubmit()" mat-raised-button color="primary">[( "accao" )]</button>
    </mat-card-actions>
  </mat-card>
</form>


</div>
