.content {
  width: 90%;
  margin: 1.4rem auto auto auto;
}

.title {
  text-align: center;
}

.title h1 {
  font-size: 2rem;
  color:darkgrey;
}


.full-width{
  width: 100%;
}

.top-padding{
  padding-top: 3px;
}

.margin-left mat-radio-button:not(:first-child){
  margin-left:10px;
}

.form-container{
  width: 100%;
}

.form-element {
  padding: 5px 0px 25px 2px;
  width: 100%;
}
