<mat-sidenav-container class="container">
  <mat-sidenav mode="side" opened>
    <mat-nav-list>
      <a routerLink="./" mat-list-item>
        <i class="material-icons">home</i>
        Home
      </a>

      <a mat-list-item
      [routerLink]="['./entidades/hotel']" routerLinkActive="active"
      >
        Hoteis
      </a>

      <a mat-list-item
      [routerLink]="['./entidades/restaurante']" routerLinkActive="active"
      >
        Restaurantes
      </a>

      <a mat-list-item
      [routerLink]="['./entidades/cardapio']" routerLinkActive="active"
      >
        Cardapios
      </a>

      <a mat-list-item
      [routerLink]="['./entidades/titem']" routerLinkActive="active"
      >
        Tipo Item
      </a>

      <a mat-list-item
      [routerLink]="['./entidades/item']" routerLinkActive="active"
      >
        Item
      </a>

      <a mat-list-item
      [routerLink]="['./tconjunto']" routerLinkActive="active"
      >
        Tipo Conjunto
      </a>


      <a mat-list-item
      [routerLink]="['./consulta']" routerLinkActive="active"
      >
        Relatorios
      </a>

      <app-logout mat-list-item></app-logout>


    </mat-nav-list>

  </mat-sidenav>


  <mat-sidenav-content>


    <router-outlet></router-outlet>

  </mat-sidenav-content>

</mat-sidenav-container>
