<!-- Logo -->
<app-header [deviceXs]="deviceXs"></app-header>

<!-- Contacto -->
<div class="container container-contacto" fxLayout="row" fxLayoutAlign="space-around center"  fxLayoutGap="10px"  >

  <div class="item-contacto item" fxFlexFill fxLayoutAlign="space-around center"  fxFlex style="background-color:aqua;" >
    <span>
      Horário: 7h às 10h e das 17h às 23h
    </span>
  </div>

  <div class="item-contacto item" fxFlexFill fxLayoutAlign="space-around center" fxFlex style="background-color:rgb(223, 149, 11);">
    <span class="material-icons">
      settings_phone
    </span>
    <br/>
    <span>
      2608440
    </span>
  </div>

</div>

<!-- Menu -->
<div class="container container-menu"
    fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="10px"

    fxLayout.lt-md="column"
    fxLayoutAlign.lt-md="start"
    fxLayoutGap.lt-md="5px"

>

    <div class="item item-menu" fxFlex="15%" fxLayoutAlign="center center">
      Item 1
    </div>

    <div class="item item-menu" fxFlex="15%" fxLayoutAlign="center center">
      Item 1
    </div>

    <div class="item item-menu" fxFlex="15%" fxLayoutAlign="center center">
      Item 1
    </div>

    <div class="item item-menu" fxFlex="15%" fxLayoutAlign="center center">
      Item 1
    </div>

    <div class="item item-menu" fxFlex="15%" fxLayoutAlign="center center">
      Item 1
    </div>

    <div class="item item-menu" fxFlex="15%" fxLayoutAlign="center center">
      Item 1
    </div>

    <div class="item item-menu" fxFlex="15%" fxLayoutAlign="center center">
      Item 1
    </div>

    <div class="item item-menu" fxFlex="15%" fxLayoutAlign="center center">
      Item 1
    </div>

    <div class="item item-menu" fxFlex="15%" fxLayoutAlign="center center">
      Item 1
    </div>

    <div class="item item-menu" fxFlex="15%" fxLayoutAlign="center center">
      Item 1
    </div>
</div>







<!-- Conteudo 1 -->

<div class="container container-conteudo" style="width: 100%; background-color:aquamarine" fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="space-evenly center" >


  <!-- Conteudo Grupo-->
  <div class="conteudo-grupo item item-2" style="width: 100%; background-color:rgb(14, 22, 129)" fxLayout="column" fxLayoutAlign="center center"  >
    <h1>Tapas</h1>
  </div>


  <!-- Conteudo Itens Menu-->

  <div class="conteudo" style="width: 100%; background-color:rgb(129, 102, 14)" fxLayout="row" fxLayoutAlign="space-between center" >
    <div class="conteudo-descricao item item-2" fxLayout="column" fxLayoutAlign="start start"  >
      <p>Bruschettas italianas</p>
      <p>Fatias de pão caseiro recheados com tomate, ervas frescas e aromáticas, com queijo fundido</p>
    </div>

    <div class="conteudo-preco item item-2" fxLayout="column" fxLayoutAlign="start end" >
      <p>
        790$00
      </p>
    </div>
  </div>

  <div class="conteudo" style="width: 100%; background-color:rgb(129, 102, 14)" fxLayout="row" fxLayoutAlign="space-between center" >
    <div class="conteudo-descricao item item-2" fxLayout="column" fxLayoutAlign="start start"  >
      <p>Bruschettas italianas</p>
      <p>Fatias de pão caseiro recheados com tomate, ervas frescas e aromáticas, com queijo fundido</p>
    </div>

    <div class="conteudo-preco item item-2" fxLayout="column" fxLayoutAlign="start end" >
      <p>
        790$00
      </p>
    </div>
  </div>

  <div class="conteudo" style="width: 100%; background-color:rgb(129, 102, 14)" fxLayout="row" fxLayoutAlign="space-between center" >
    <div class="conteudo-descricao item item-2" fxLayout="column" fxLayoutAlign="start start"  >
      <p>Bruschettas italianas</p>
      <p>Fatias de pão caseiro recheados com tomate, ervas frescas e aromáticas, com queijo fundido</p>
    </div>

    <div class="conteudo-preco item item-2" fxLayout="column" fxLayoutAlign="start end" >
      <p>
        790$00
      </p>
    </div>
  </div>

  <div class="conteudo" style="width: 100%; background-color:rgb(129, 102, 14)" fxLayout="row" fxLayoutAlign="space-between center" >
    <div class="conteudo-descricao item item-2" fxLayout="column" fxLayoutAlign="start start"  >
      <p>Bruschettas italianas</p>
      <p>Fatias de pão caseiro recheados com tomate, ervas frescas e aromáticas, com queijo fundido</p>
    </div>

    <div class="conteudo-preco item item-2" fxLayout="column" fxLayoutAlign="start end" >
      <p>
        790$00
      </p>
    </div>
  </div>


</div>

<!-- Conteudo 1 -->

<div class="container container-conteudo" style="width: 100%; background-color:aquamarine" fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="space-evenly center" >


  <!-- Conteudo Grupo-->
  <div class="conteudo-grupo item item-2" style="width: 100%; background-color:rgb(14, 22, 129)" fxLayout="column" fxLayoutAlign="center center"  >
    <h1>Peixe</h1>
  </div>


  <!-- Conteudo Itens Menu-->

  <div class="conteudo" style="width: 100%; background-color:rgb(129, 102, 14)" fxLayout="row" fxLayoutAlign="space-between center" >
    <div class="conteudo-descricao item item-2" fxLayout="column" fxLayoutAlign="start start"  >
      <p>Bruschettas italianas</p>
      <p>Fatias de pão caseiro recheados com tomate, ervas frescas e aromáticas, com queijo fundido</p>
    </div>

    <div class="conteudo-preco item item-2" fxLayout="column" fxLayoutAlign="start end" >
      <p>
        790$00
      </p>
    </div>
  </div>

  <div class="conteudo" style="width: 100%; background-color:rgb(129, 102, 14)" fxLayout="row" fxLayoutAlign="space-between center" >
    <div class="conteudo-descricao item item-2" fxLayout="column" fxLayoutAlign="start start"  >
      <p>Bruschettas italianas</p>
      <p>Fatias de pão caseiro recheados com tomate, ervas frescas e aromáticas, com queijo fundido</p>
    </div>

    <div class="conteudo-preco item item-2" fxLayout="column" fxLayoutAlign="start end" >
      <p>
        790$00
      </p>
    </div>
  </div>

  <div class="conteudo" style="width: 100%; background-color:rgb(129, 102, 14)" fxLayout="row" fxLayoutAlign="space-between center" >
    <div class="conteudo-descricao item item-2" fxLayout="column" fxLayoutAlign="start start"  >
      <p>Bruschettas italianas</p>
      <p>Fatias de pão caseiro recheados com tomate, ervas frescas e aromáticas, com queijo fundido</p>
    </div>

    <div class="conteudo-preco item item-2" fxLayout="column" fxLayoutAlign="start end" >
      <p>
        790$00
      </p>
    </div>
  </div>

  <div class="conteudo" style="width: 100%; background-color:rgb(129, 102, 14)" fxLayout="row" fxLayoutAlign="space-between center" >
    <div class="conteudo-descricao item item-2" fxLayout="column" fxLayoutAlign="start start"  >
      <p>Bruschettas italianas</p>
      <p>Fatias de pão caseiro recheados com tomate, ervas frescas e aromáticas, com queijo fundido</p>
    </div>

    <div class="conteudo-preco item item-2" fxLayout="column" fxLayoutAlign="start end" >
      <p>
        790$00
      </p>
    </div>
  </div>


</div>

<!-- Conteudo 1 -->

<div class="container container-conteudo" style="width: 100%; background-color:aquamarine" fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="space-evenly center" >


  <!-- Conteudo Grupo-->
  <div class="conteudo-grupo item item-2" style="width: 100%; background-color:rgb(14, 22, 129)" fxLayout="column" fxLayoutAlign="center center"  >
    <h1>Carne</h1>
  </div>


  <!-- Conteudo Itens Menu-->

  <div class="conteudo" style="width: 100%; background-color:rgb(129, 102, 14)" fxLayout="row" fxLayoutAlign="space-between center"  >
    <div class="conteudo-descricao item item-2" fxLayout="column" fxLayoutAlign="start start"  >
      <p>Bruschettas italianas</p>
      <p>Fatias de pão caseiro recheados com tomate, ervas frescas e aromáticas, com queijo fundido</p>
    </div>

    <div class="conteudo-preco item item-2" fxLayout="column" fxLayoutAlign="start end" >
      <p>
        790$00
      </p>
    </div>
  </div>

  <div class="conteudo" style="width: 100%; background-color:rgb(129, 102, 14)" fxLayout="row" fxLayoutAlign="space-between center" >
    <div class="conteudo-descricao item item-2" fxLayout="column" fxLayoutAlign="start start"  >
      <p>Bruschettas italianas</p>
      <p>Fatias de pão caseiro recheados com tomate, ervas frescas e aromáticas, com queijo fundido</p>
    </div>

    <div class="conteudo-preco item item-2" fxLayout="column" fxLayoutAlign="start end" >
      <p>
        790$00
      </p>
    </div>
  </div>

  <div class="conteudo" style="width: 100%; background-color:rgb(129, 102, 14)" fxLayout="row" fxLayoutAlign="space-between center" >
    <div class="conteudo-descricao item item-2" fxLayout="column" fxLayoutAlign="start start"  >
      <p>Bruschettas italianas</p>
      <p>Fatias de pão caseiro recheados com tomate, ervas frescas e aromáticas, com queijo fundido</p>
    </div>

    <div class="conteudo-preco item item-2" fxLayout="column" fxLayoutAlign="start end" >
      <p>
        790$00
      </p>
    </div>
  </div>

  <div class="conteudo" style="width: 100%; background-color:rgb(129, 102, 14)" fxLayout="row" fxLayoutAlign="space-between center" >
    <div class="conteudo-descricao item item-2" fxLayout="column" fxLayoutAlign="start start"  >
      <p>Bruschettas italianas</p>
      <p>Fatias de pão caseiro recheados com tomate, ervas frescas e aromáticas, com queijo fundido</p>
    </div>

    <div class="conteudo-preco item item-2" fxLayout="column" fxLayoutAlign="start end" >
      <p>
        790$00
      </p>
    </div>
  </div>


</div>

